{{view('header', [title:'Editor'])}}

<table border="0" style="width:100%;">
<tr>
<td valign="top" width="200">
<div id="editor-browser">
<ul>
<li class="controller">Controllers <img src="{{resource_url('img/add.png')}}" class="add" />
<ul>
</ul>
</li>
<li class="database">Databases <img src="{{resource_url('img/add.png')}}" class="add" />
<ul>
</ul>
</li>
<li class="view">Views <img src="{{resource_url('img/add.png')}}" class="add" />
<ul>
</ul>
</li>
</ul>
</div>
</td>
<td valign="top">
<div id="editor">
<textarea id="code" name="code">

</textarea>
<br />
</div>
</td>
</tr>
</table>
{{view('footer')}}